.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1

		{

		background-color:orange;

		}

		body

	{

		#background-image:url(1.jpg);

		#background-repeat:repeat-y;

		#background-position:center;

		#background-attachment:fixed;

		

	  	

		#wrapper{

		background:url('2.jpeg');

		width:1280px;height:847px;

		}



		.boton {

       		 padding:5px;

       		 background:#502121;

       		 color:white;

        	font:bold 10px/10px verdana;

       		 width:80px;

        	cursor:pointer;

       		 cursor:hand;

        	text-align:center;

   		 }

    

    #boton1 {

        position:absolute;

        left: 20%;

	top:200px;

        

    }

    #boton2 {

        position:absolute;

        left: 41%;

	top:200px;

        

    }

    #boton3 {

        position:absolute;

        left: 52%;

	top:200px;

        

    }

    #boton4 {

        position:absolute;

        left: 52%;

	top:373px;

        

    }

    #boton5 {

        position:absolute;

        left: 62%;

	top:373px;

        

    }

    #boton6 {

        position:absolute;

        left: 31%;

	top:550px;

        

    }

    #boton7 {

        position:absolute;

        left: 41%;

	top:550px;

        

    }

    #boton8 {

        position:absolute;

        left: 63%;

	top:700px;

        

    }

    #boton9 {

        position:absolute;

        left: 20%;

	top:882px;

        

    }

    #boton10 {

        position:absolute;

        left: 41%;

	top:882px;

        

    }

    #boton11 {

        position:absolute;

        left: 9%;

	top:373px;

        

    }
